# Dependencies
node_modules
package-lock.json

# Environment
.env

# Data
data/*.json
# database.json should be tracked for this mock setup
!data/database.json

# Builds
mini-app/dist
dist
build
# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode
.idea
.DS_Store

# Misc
.cache
.temp
